<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </title>Ticketac Journeys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%-include('./partial/navbar.ejs')  %> 
    <div class="content">


        <div class="container">
            <% if(journeys.length == 0)
            {%>
                <div>Oops ! No trains available</div>
            <%}else {%>
                <div>Ticket available on : </div>
            <ul class="list-group col col-12">
                <% for(var i = 0; i < journeys.length; i++){ %>
                    <div class="list-group-item m-1 p-5 d-inline-flex justify-content-between">
                        <div class="text-black"><%= journeys[i].departure%>/<%= journeys[i].arrival%></div>
                        <div class="text-black">Train Departure at : <%= journeys[i].departureTime%></div>
                        <span>
                            <%= journeys[i].price %>€
                            <button type="button" class="btn btn-danger">
                                <a href="/addToBasket?journeyid=<%= journeys[i]._id %>">
                                    Ok
                                </a>
                            </button>
                        </span>
                    </div>
                <%}%>


            </ul>
            <%}%>


        </div>
          
        

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>